<div class="page_wrapper">
  <div id="profile_image">
    <%= image_tag  "profile.jpg" %>
  </div>
  <div id="content"></div>
    <h1>It's Winston </h1>
    <p>Lorem ipsum dolor amet taxidermy organic vegan,chillwave gastropub beard 
      hella 90's coloring book man bun schlitz lumbersexual echo park forage. 
      Kogi sartorial mixtape gochujang, four loko viral etsy keffiyeh iPhone PBR&B.
      Sriracha fanny pack DIY, blog enamel pin woke health goth.
    </p>
</div>