<% if @post.blank? %> 
  <div class="page_wrapper">
    <h1> Index Post </h1>
    <p>Empty</p>
    <%= link_to  "Create Post", new_post_path %>
  </div>
<% else %>
  <% @posts.each do |post| %>
    <div class="post_wrapper">
      <h2 class="title"><%= link_to  post.title, post %></h2>
      <p class="body"><%= truncate(post.body, length:100 ) %></p>
      <p class="date"><%= time_ago_in_words(post.create_at) %> ago</p>
    </div>
  <% end %>
<% end %>